* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}
p {
  margin: 10px 0px;
}
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
.text-primary {
  color: #f7c08a;
}
.lead {
  font-size: 20px;
  color: black;
}
.btn {
  display: inline block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #f7c08a;
  background: #333;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}
a.btn-light:hover {
  background: #f7c08a;
  color: #fff;
}
.bg-dark {
  background: #333;
  color: #f7c08a;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-primary {
  color: #333;
  background: #f7c08a;
}
ul {
  list-style: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .hobbies-list {
  list-style: none;
  text-decoration: none;
  display: none;
  z-index: 1;
}
.dropdown:hover .hobbies-list li a {
  display: block;
  font-size: 18px;
  color: #333;
  background: #fff;
  padding: 13px 20px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.dropdown:hover .hobbies-list li a:hover {
  color: #f7c08a;
  background: #333;
}
.dropdown:hover .hobbies-list {
  display: block;
}

#navbar {
  background: #333;
  color: white;
  overflow: auto;
}
#navbar a {
  color: white;
}
#navbar .logo {
  float: left;
  padding: 20px;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar ul li a:hover {
  background: #444;
  color: #f7c08a;
}
#navbar .current {
  background: #444;
  color: #f7c08a;
}
#showcase {
  background: url("photo-showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}
.showcase-content {
  color: white;
  text-align: center;
  padding-top: 170px;
}
.showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}
.showcase-content p {
  padding: 10px;
  line-height: 1.7em;
}
#home-cv {
  height: 450px;
}
#home-cv #content {
  float: left;
  width: 50%;
  min-height: 100%;
  background: url("pictureofme.jpg") no-repeat center center/cover;
}
#home-cv #info {
  float: right;
  width: 50%;
  min-height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}
#home-cv #info p {
  color: #fff;
  padding-bottom: 30px;
}
#home-cv #info h2 {
  color: white;
}
.features {
  display: flex;
  float: left;
  width: 33.33%;
  text-align: center;
}

.features .box {
  flex-direction: column;
  padding: 50px;

  flex-grow: 1;
  flex-basis: 0;
}
.features i {
  margin-bottom: 10px;
}
#main-footer {
  background: #444;
  color: white;
  height: auto;
}
#main-footer p {
  float: left;
  padding-top: 1%;
  vertical-align: middle;
}

.fa {
  height: 3vh;
}

.footer--container {
  display: flex;
  float: right;
  width: 10%;
  margin-top: 1%;
}

.rights {
  float: left;
}

.social--media--icons {
  height: 3vh;
  flex-direction: column;
  color: white;
  flex-grow: 1;
  flex-basis: 0;
}
